@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.section-1{
    background: url(./images/hooded-burglar-threatens-danger-spooky-darkness-generated-by-ai_188544-43316.avif);
    width: 100%;
    background-size: cover;
    height: 90vh;
    background-position: center;
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 0px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 6.5px 20px;
    position: relative;
}

.navbar ul li a{
    font-weight: bold;
    text-decoration: none;
    color: #cfcdcd;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: "";
    height: 3px;
    width: 0%;
    background: #00b3ff;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

button{
    padding: 9px 25px;
    background-color: #0274a5;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: bold;
    color: #fff;
    transition: all 0.3s ease 0s;
}


button:hover{
    background-color: #0097d8;
}

#active{
    border-bottom: 3px solid transparent;
    padding: 3px 1px;
    border-color: #00b3ff;
}


.logo{
    
    width: 200px;
    cursor: pointer;
}

#section-2{
    background-color: white;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    background-color: white;
    width: 560px;
    margin: 10px;
    border-radius: 15px;
    
}

.card-image{
    height: 495px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}

.car-1{
    background-image: url(./images/designs/Adsız\ tasarım\ \(5\)-PhotoRoom.png);
}

.car-2{
    background-image: url(./images/designs/Adsız\ tasarım\ \(5\)-PhotoRoom\ \(2\)\ \(1\).png);
}

.car-3{
    background-image: url(./images/Updates/Untitled\ design\ \(9\).png);
}

.car-4{
    background-image: url(./images/designs/UNIQUE-PhotoRoom.png);
}

.car-5{
    background-image: url(./images/designs/UNIQUE-PhotoRoom\ \(1\).png);
}

.car-6{
    background-image: url(./images/Updates/Untitled\ design\ \(5\).png);
}

.car-7{
    background-image: url(./images/Updates/ba2d4ef6b12093e45c8d7c44244948cd\ \(1\)\ \(1\).jpg);
}

.car-8{
    background-image: url(./images/Updates/il_fullxfull.4563839895_b9o9.webp);
}

.car-9{
    background-image: url(./images/Updates/il_fullxfull.4563840213_3l7t.jpg);
}

.car-10{
    background-image: url(./images/Updates/il_fullxfull.5276230970_imkl.webp);
}

.car-11{
    background-image: url(./images/Updates/Untitled\ design\ \(10\).png);
}

.car-12{
    background-image: url(./images/Updates/Untitled\ design\ \(4\).png);
}

.card h2{
    padding: 10px;
}

.card p{
    padding: 10px;
}

.card a{
    background-color: black;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    text-decoration: none;
}

.card:hover{
    background-color: rgb(62, 62, 62);
    color: white;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
    background-blend-mode: color rgb(62, 62, 62);
}


@media (max-width: 769px) {
    header{
        flex-direction: column;
        padding: 20px;
    }
    .navbar{
        padding: 15px;
        margin: 0px;
    }
}

.container-2{
    max-width: 1170px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

ul{
    list-style: none;
}

.footer{
    background-color: #24262b;
    padding: 70px 0;
    line-height: 1.5;
    font-family: "Poppins", sans-serif;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 35px;
    position: relative;
}

.footer-col h4::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-ch){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    color: #bbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #fff;
    padding-left: 8px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}


.footer-col .social-links a:hover{
    color: #24262b;
    background-color:#ffffff ;
}

@media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
}
}

@media(max-width: 574px){
    .footer-col{
        width: 50%;
}
}






